<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/home.css"  />
    
    <title>Document</title>
</head>
<body>

    <img src="../images/atv-kaike.png" />

    <h1>Cadastrar funcionário</h1>

    <form id="formulario"> 
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="" placeholder="Digite seu Nome" />

        <label for="email">Email</label>
        <input type="text" name="email" id="" placeholder="Digite o email" />

        <label for="data">Data de admissão</label>
        <input type="date" name="data" id=""  />

        <label for="marca">Salário</label>
        <input type="text" name="salario" id="" placeholder="Digite o salário" />

        <button type="submit">Cadastrar</button>

    </form>
</body>
</html>